.main {
  background-color: gray;
}
.wh {
  text-align: center;
  align-items: center;
  height: 90vh;
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0;
}
.ho:hover {
  color: white;
  background-color: black;
  width: 100px !important;
}
