.main{
    background-color: rebeccapurple;
}
.center{
    justify-content: center;
    align-items: center;
}
input,button{
    width: 400px;
}
input,button{
    padding: 20px;
    border-radius: 10px!important;
    border: none;
    border: 1px solid gray;
}
button{
    border: none;
    background-color: #4262FF;
    color: white;
    border-radius: 10px !important;
    font-weight: 600;
    font-size: 20px!important;
}
.fa-globe {
    font-size: 24px; /* adjust the size as needed */
  }
  
@media only screen and (max-width: 600px) {
    input,button{
        width: 280px;
    }
    
  }