.main {
  background-color: rebeccapurple;
}
.center {
  justify-content: center;
  align-items: center;
}
input,
button {
  width: 400px;
}
input,
button {
  padding: 20px;
  border-radius: 10px ;
  border: none;
  border: 1px solid gray;
}
button {
  border: none;
  background-color: #4262ff;
  color: white;
  border-radius: 10px ;
  font-weight: 600;
 
}
.fa-globe {
  font-size: 24px; /* adjust the size as needed */
}

@media only screen and (max-width: 600px) {
  input,
  button {
    width: 280px;
  }
}
