.sticky-textarea {
  /* Add your desired styles here */
  /* Example styles: */
  font-family: Calibri;
  font-size: 20px;
  color: #333333;
  border: none;
  resize: none;
  overflow: hidden;
  outline: none;
}
